.ngo-details-page {
    padding: 2rem;
    color: #333;
    margin-top: 40px;
}

.ngo-header {
    text-align: center;
    margin: 2rem;
}

.ngo-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 5rem;
}

.ngo-section {
    display: flex;
    gap: 2rem;
    margin: 3rem;
    align-items: center;
}

.function-section .image-container,
.about-section .image-container {
    flex: 1;
    align-items: center;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-image,
.secondary-image {
    width: 80%;
    border-radius: 8px;
    object-fit: cover;
}

.donate-section {
    text-align: center;
    justify-content: space-between;
}

.donate-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ngo-donate-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

.ngo-donate-button:hover {
    background-color: #555;
    color: #fff;
}